image: Windows Server 2016
environment:
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0
install:
  - ps: docker version
  - ps: docker run hello-world
  - AppVeyor DownloadFile https://github.com/docker/machine/releases/download/v0.10.0/docker-machine-Windows-x86_64.exe
  - copy docker-machine-Windows-x86_64.exe docker-machine.exe
  - ps: .\docker-machine.exe -D create --driver hyperv default
  - .\docker-machine.exe ls
  - .\docker-machine.exe env --shell powershell default
  - cinst docker jdk8
  - refreshenv
  - ps: .\docker-machine.exe env --shell powershell default | iex
  - ps: docker run hello-world

build_script: true

test_script:
  # make docker-machine.exe available on PATH
  - "SET PATH=%APPVEYOR_BUILD_FOLDER%;%PATH%"
  - cmd: .\mvnw.cmd clean install --batch-mode
