environment:
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0
install:
  - AppVeyor DownloadFile http://download.virtualbox.org/virtualbox/5.0.14/VirtualBox-5.0.14-105127-Win.exe
  - .\VirtualBox-5.0.14-105127-Win.exe -s -l -msiparams ADDLOCAL=VBoxApplication,VBoxUSB,VBoxNetworkAdp REBOOT=ReallySuppress
  - AppVeyor DownloadFile https://github.com/StefanScherer/boot2docker/releases/download/v1.10.1-386/docker-machine-Windows-i386.exe
  - copy docker-machine-Windows-i386.exe docker-machine.exe
  - .\docker-machine.exe -D create -d virtualbox --virtualbox-no-vtx-check --virtualbox-nictype "Am79C973" --virtualbox-hostonly-nictype "Am79C973" --virtualbox-boot2docker-url https://github.com/StefanScherer/boot2docker/releases/download/v1.10.1-386/boot2docker.iso default
  - .\docker-machine.exe ls
  - .\docker-machine.exe env --shell powershell default
  - cinst docker
  - refreshenv
  - ps: .\docker-machine.exe env --shell powershell default | iex
  - ps: docker version
  - cinst  jdk8

build_script:
  - cmd: .\mvnw.bat clean package -B -Dmaven.test.skip=true -Dmaven.javadoc.skip=true

test_script:
  - "SET PATH=%APPVEYOR_BUILD_FOLDER%;%PATH%"
  - ps: .\docker-machine.exe env --shell powershell default | iex
  - ps: .\mvnw.bat clean install --batch-mode
