os: Windows Server 2012 R2

environment:
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0
install:
  - cinst jdk8 docker-for-windows
  - cmd: refreshenv
  - cmd: java -version
  - cmd: docker version

build_script:
  - ./mvnw.bat clean package -B -Dmaven.test.skip=true -Dmaven.javadoc.skip=true

test_script:
  - ./mvnw.bat clean install --batch-mode

cache:
  - C:\Users\appveyor\.m2

deploy: off
