platform:
  - x64
environment:
  JAVA_HOME: C:\Program Files\Java\jdk1.8.0
install:
  - AppVeyor DownloadFile http://download.virtualbox.org/virtualbox/5.0.14/VirtualBox-5.0.14-105127-Win.exe
  - .\VirtualBox-5.0.14-105127-Win.exe -s -l -msiparams ADDLOCAL=VBoxApplication,VBoxUSB,VBoxNetworkAdp REBOOT=ReallySuppress
  - AppVeyor DownloadFile https://github.com/docker/machine/releases/download/v0.10.0/docker-machine-Windows-x86_64.exe
  - copy docker-machine-Windows-x86_64.exe docker-machine.exe
  - .\docker-machine.exe -D create -d virtualbox --virtualbox-no-vtx-check --virtualbox-nat-nictype "Am79C973" --virtualbox-hostonly-nictype "Am79C973" default
  - .\docker-machine.exe ls
  - .\docker-machine.exe env --shell powershell default
  - cinst docker jdk8
  - refreshenv

build_script: true

test_script:
  # make docker-machine.exe available on PATH
  - "SET PATH=%APPVEYOR_BUILD_FOLDER%;%PATH%"
  - cmd: .\mvnw.cmd clean install --batch-mode
